<!DOCTYPE html>
<html lang="eng">
  <head> </head>

  <body>
    <div tabindex="-1" style="position: relative; z-index: 150; display: block">
      <div class="">
        <div class="modal fade show" role="dialog" tabindex="-1" style="display: block">
          <div class="modal-dialog modal-original modal-sm" role="document">
            <div class="modal-content">
              <div class="pr-2 modal-header">
                <h5 class="modal-title">Delete round</h5>
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">x</span>
                </button>
              </div>
              <div class="animated fadeIn">
                <div class="modal-body">Are you sure?</div>
                <div class="modal-footer">
                  <form>
                    <button type="submit" class="btn btn-success">
                      Confirm
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-backdrop modal-backdrop-blank fade show"></div>
      </div>
    </div>
  </body>
</html>
