.tab-content{
  overflow: hidden;
  background-color: white;
  //changes end here

  margin: 5px 20px 5px 20px;
}

.card-header{
  background-color: white;
  word-wrap: normal;

}

#percent-id, #invest-id, #trigger-id{
  background: rgb(235, 235, 235);
}

#convertible-id, #add-inv-id, #rata-id, #pool-id, #add-perc-id{
  border: 1px solid;
  border-color: transparent transparent rgb(0, 0, 0, 0.1) transparent;
}

.pointer{
  display: flex;  
  flex-wrap: wrap;
  width: fit-content;
  border: 0px;
}

.body{
    border: 1px solid lightslategray;
    margin: 0px 310px 0px 200px; 
}

.container{
  display: flex;
}

.input-group{
 width: fit-content;
 height: fit-content;
}

.input-group-prepend{
width: fit-content;
height: fit-content;
}

.collapse, .tab-panel{
-webkit-animation: fadeEffect 2s;
 animation: fadeEffect 2s;
}

@-webkit-keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}

.d-block{
background-color: white;
}

.d-flex{
 border: 0px;
 color: black;
}

.alert-secondary{
  height: 70px;
}

#spin:active{
transform: rotate(90deg);
}

li{
 cursor: pointer;
}

#dropdownMenuButton{
 background-color: white;
 color: grey;
 width: 140px;
 text-align: left;
 border: 1px solid lightgray;
} 

#sub-menu, mat-menu{
  background-color: white;
  color: black;
}

//COMMENTED MAKING CONTENT TRANSPARENT
// .dropdown-menu{
//  height: 40px;
// }

#dropdown-arrow{
background-color: white;
color: grey;
border: 1px solid lightgray;
border-left: white;
}

.dropdown-item:active{
 background-color: skyblue;
}

#delete-btn{
  cursor: pointer;
 background-color:lightgray;
}

#delete-btn:hover{
 background-color: gray;
}

.fa-trash{
 color: black;
}

.d-none{
 height: 50px;
 transform: scaleY(-1);
}

.info-container{
 color: rgb(217, 247, 255);
}

.fa-line-chart, #table-info{
 color: gray;
}

#trigger-id, #invest-id, #percent-id{
  font-size: 13px;
  text-align: center;
  cursor: auto;
 }

 #convertible-id, #add-inv-id, #rata-id, #pool-id, #add-perc-id{
   cursor: pointer;
   text-align: center;
   font-size: 19px;
 }

 #convertible-id:hover, #add-inv-id:hover, #rata-id:hover, #pool-id:hover, #add-perc-id:hover{
  background-color: rgb(212, 212, 212);
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container {
  /* IE10 */
 display: flex;
 width: 100%;
 margin-left: auto;
 margin-bottom: -150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
//  .unstyled::-webkit-inner-spin-button,
// .unstyled::-webkit-calendar-picker-indicator {
//     display: none;
//     -webkit-appearance: none;
// }

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
margin: 8px;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.version-info {
font-size: 8pt;
float: right;
margin: 8px;
}

.tab-card{
border-top: 0;
}

.btn{
  background-color: midnightblue;
}

.callout{
  border-left: 4px solid rgb(3, 158, 219);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 15px;
}

.total-round{
  display: inline;
  padding-left: 65px;
}

.issue-price{
  display: inline;
  padding-left: 65px;
}

.shared-issue{
  display: inline;
  padding-left: 35px;
}

.post-money{
  display: inline;
  padding-left: 55px;
}

.btn-blank{
  width: fit-content;
  height: fit-content;
  flex-wrap: wrap;
  background-color: rgb(163, 228, 233);
  cursor: pointer;
}

.btn-blank:hover{
  background-color: white;
}

.investor-name{
  padding-left:  55px;
  margin-top:  -355px;
}

// .secondary-table{
//   display: inline;
//   padding-left: 220px;
// }

