<!DOCTYPE html>
  <html lang="eng">

    <head>
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet"> -->
    </head>

    <br><br><br><br><br><br>
    
    <body style="overflow-wrap: break-word; hyphens: auto; "> 
      <div class="row">
        <div class="col-md-2">
        </div>
        
        <div class="col-md-8">
          
          <div class="card">
            <div class="card-header">
                <div title="Click to rename" style="width: fit-content;" class="pointer form-control" contenteditable="true">
                  <strong>Financing Scenario</strong></div>
              </div>
            <div class="card-body">
              <div class="tab-pane active" id="series-a" style="overflow: hidden;">
        
            <mat-tab-group class="card tab-card" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" oTabGroup="ontimize" [@.disabled]="true">
                  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab" style="width: fit-content; ">
                    <div  style="margin-left: 20px; margin-right: 20px;">
                      <br><br>
                        <div class="d-flex justify-content-end align-items-center mb-4" style="margin-right: 15px; ">
                          <div class="d-flex" >
                            
                            <div class="d-inline dropdown ">
                              <button type="button" aria-haspopup="true"  aria-expanded="false" data-toggle="dropdown"
                                        class="btn-primary dropdown-toggle" mat-raised-button color="primary" (click)="toggle()">
                                <i id="add-btn" class="fa fa-plus mr-2" ></i>Add
                              </button>
                              <div id="Overflow" *ngIf="show" tabindex="-1" class="fadeIn adjust-left adjust-top dropdown-menu-right dropdown-menu show" style="left: -178px; ">
                                <h6 id="trigger-id" tabindex="-1" class="d-flex align-items-center dropdown-header" (click)="toggle()"> Trigger convertibles </h6>
                  
                                  <button (click)="showConvertable()" id="convertible-id" type="button" tabindex="0" role="menuitem" class="d-flex align-items-center dropdown-item">
                                    <small>New convertible</small>
                                  </button>
                  
                                  <h6 id="invest-id" tabindex="-1" class="d-flex align-items-center dropdown-header"> Investment </h6>
                                  <button id="add-inv-id" type="button" tabindex="0" role="menuitem" class="d-flex align-items-center dropdown-item">
                                    <small>Add investment</small> 
                                  </button>
                  
                                  <button id="rata-id" type="button" tabindex="0" role="menuitem" class="d-flex align-items-center dropdown-item">
                                    <small>Pro-rata investment</small>
                                  </button>
                  
                                  <h6 id="percent-id" tabindex="-1" class="d-flex align-items-center dropdown-header">Fixed percentage</h6>
                                    
                                  <button id="pool-id" type="button" tabindex="0" role="menuitem" class="d-flex align-items-center dropdown-item"><small>Add Pool</small></button>
                                  <button id="add-perc-id" type="button" tabindex="0" role="menuitem" class="d-flex align-items-center dropdown-item">
                                    <small>Add investment by percentage</small>
                                  </button>
                                </div>
                              </div>
                            </div>
                  
                            <button title="Delete round" (click)="onPress()" id="delete-btn" class="ml-1 border border-secondary-hover btn btn-secondary" style="height: 37px; width: 40px;">
                              <i class="fa fa-trash fa-lg"></i>
                                    <!-- <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1" (click)="removeTab(index)">
                                      Delete Tab</button> -->
                              
                                      <div tabindex="-1" *ngIf="display" style="position: relative; z-index: 150; display: block">
                                        <div class="">
                                          <div class="modal fade show" role="dialog" tabindex="-1" style="display: block">
                                            <div class="modal-dialog modal-original modal-sm" role="document">
                                              <div class="modal-content">
                                                <div class="pr-2 modal-header">
                                                  <h5 class="modal-title">Delete round</h5>
                                                  <button type="button" class="close" aria-label="Close">
                                                    <span aria-hidden="true">x</span>
                                                  </button>
                                                </div>
                                                <div class="animated fadeIn">
                                                  <div class="modal-body">Are you sure?</div>
                                                  <div class="modal-footer">
                                                    <form>
                                                      <button type="submit" class="btn btn-success" [disabled]="tabs.length === 1" (click)="removeTab(index)">
                                                        Confirm
                                                      </button>
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="modal-backdrop modal-backdrop-blank fade show"></div>
                                        </div>
                                      </div>
                              <!-- <app-confirm-delete *ngIf="display"></app-confirm-delete> -->
                            </button>
                  
                          </div>
                        <div>
                          <div class="calculator-tour-step-3 row" >
                            <div class="col-12 col-sm-6 col-lg-3">
                              <div class="form-group">
                  
                                <form class="input-group" style="width: 135px; margin-left: 40px;">
                                  <label>{{showLabel()}}</label>
                                  <div class="input-container">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" style="height: 40px;">EUR</span>
                                    </div>
                                    <input class="input-field form-control" type="number" placeholder="Valuation" style="height: 40px; width: 100px;">
                                      <div class="input-group-append">
                                        <button (click)="showTextBtn()" type="button" style="align-items: center; height: 40px; width: 60px;"
                                                 class="btn-append border border-secondary-hover btn btn-secondary">{{showTextBtn()}}</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                  
                              <div class="col-12 col-sm-6 col-lg-3">
                                <form class="input-group" style="margin-left: 50px;">
                                  <label class="">Target round size</label>
                                  <div class="input-container">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" style="height: 40px;">EUR</span>
                                    </div>
                                    <input class="input-field form-control" type="number" placeholder="Valuation" style="height: 40px; width: 150px;">
                                  </div>
                                </form>
                              </div>
                  
                              <div class="col-12 col-sm-6 col-lg-3">
                                <div class="form-group" style="margin-left: 50px;">
                                  <label class="">Share class</label>
                  
                                  <select class="mdb-select md-form form-control" style="height: 40px; width: 200px;">
                                    <option class="form-group" disabled selected>Select...</option>
                                      <option class="form-group" value="1" style="height: 140px; width: 150px;">Preferred</option>
                                  </select>
                                </div>
                              </div>
                  
                                <div class="col-12 col-sm-6 col-lg-3"> 
                                  <div class="form-group" >
                                    <div class="react-datepicker-wrapper">
                                      <div class="react-datepicker__input-container">
                                        <div class="md-form">
                                          <label class="" style="margin-left: 21px;">Expected closing date</label>
                                          <input placeholder="Date" type="date" id="input" class="unstyled form-control" style="height: 40px; width: 180px; margin-left: 21px;" >
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> 


                              <div class="mt-4 row scenario-table" *ngIf="active">
                                <div class="post-money mb-4 col-12 col-sm-6 col-lg-3" >
                                  <div class="callout callout-info d-flex flex-column justify-content-between h-100 m-0">
                                    <small id="" class="d-block text-muted">Post-money valuation<br> (EUR)</small>
                                    <strong class="h5 no-wrap mr-auto" id="valuation">10,000,000.00</strong>
                                  </div>
                                </div>
                                <div class="total-round mb-4 col-12 col-sm-6 col-lg-3">
                                  <div class="callout callout-info d-flex flex-column justify-content-between h-100 m-0">
                                    <small id="" class="d-block text-muted">Total round size (EUR)</small>
                                    <strong class="h5 no-wrap mr-auto" id="roundSize">2,000,000.00</strong>
                                  </div>
                                </div>
                                <div class=" issue-price mb-4 col-12 col-sm-6 col-lg-3">
                                  <div class="callout callout-info d-flex flex-column justify-content-between h-100 m-0">
                                    <small id="" class="d-block text-muted">Issue price (EUR)</small>
                                    <strong class="h5 no-wrap mr-auto" id="issuePrice">0.80</strong>
                                  </div>
                                </div>
                                <div class="shared-issue mb-4 col-12 col-sm-6 col-lg-3">
                                  <div class="callout callout-info d-flex flex-column justify-content-between h-100 m-0">
                                    <small id="" class="d-block text-muted" >Shares issued </small>
                                    <strong class="h5 no-wrap mr-auto" id="sharesIssued">2,500,000</strong>
                                  </div>
                                </div>
                              </div>

                  
                                <div  *ngIf="active" class="d-flex mt-3 mb-0 alert alert-secondary fade show" id="info-container" role="alert" style="margin-right: 20px; margin-left: 30px;">
                                  <div class="my-auto col-sm-8 col-md-9 col-xl-10" >
                                    <p class="mb-0" id="table-info">
                                      <i class="fa fa-line-chart" aria-hidden="true"></i> 
                                          Add outstanding convertibles, new investments, and employee pools by clicking<br> + Add </p>
                                  </div>
                                  <div class="d-none d-sm-flex justify-content-center col-sm-4 col-md-3 col-xl-2">
                                    <img class="curved-arrow--scenarios" src="https://cdn.ledgy.com/img/arrow-blue.png" alt="click on the button"/>
                                  </div>
                                </div>
                                <br>
                            </div>
                          </div>

                          <table class="table-responsive-xl calculator-tour-step-6 table justify-content-center"  style="align-content: space-between;">
                            <thead>
                              <tr>
                                <th scope="col" class="text-right" style="padding-left: 290px; ">
                                    Investment (EUR)<a type="button" title="Sort by investment"
                                      class="btn-blank text-muted ml-1 border border-secondary-hover btn-secondary">
                                      <i class="fa fa-sort-numeric-asc" title="Sort by investment" aria-hidden="true"></i></a></th>
                                <th scope="col" style="padding-left: 110px; padding-right: 20px;" class="text-right">Percentage (%)</th>
                                <th scope="col" style="padding-left: 30px;" class="text-right">Issue price (EUR)</th>
                                <th scope="col" style="padding-right: 90px;" class="text-right">Number of shares</th>
                              </tr>
                            </thead>
                          </table> 

                          <p class="investor-name" ><strong>Investments</strong></p>
                                      
                          <div class="d-flex align-items-center form-control" > 
                            <button type="button" id="How-is-this-calculated?" class="d-block btn-dynamic-chevron py-2 px-0 btn btn-white" (click)="toggle()">
                              <i class="fa fa-chevron-circle-right text-muted ml-1 mr-2 rotate down90" id="spin"></i>How is this calculated?
                            </button>
                          </div>
              
                          <div class="collapse show" *ngIf="!show">
                            <div class="alert alert-light show" role="alert">
                              <ul class="pl-3">
                                <li><strong>Total round size</strong> is the sum of all actual investments</li>
                                <li>The number of shares is <strong>rounded down</strong>.</li>
                                <li><strong>Percentage</strong> includes new and already held shares.</li>
                                <li>You can adjust these round modeling calculations in<i>Settings </i><i class="fa fa-cog"></i></li>
                              </ul>
                            </div>
                          </div>
                  </mat-tab>
      
                  <mat-tab disabled>
                    <ng-template mat-tab-label>
                      <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-plus align-items-center" style="color: darkgray;"></i></button>
                      <mat-menu #menu="matMenu" >
                        <button mat-menu-item #selectAfterAdding (click)="addTab()">Financing Round</button>
                      </mat-menu>
                      
                      <!-- <button mat-raised-button class="example-add-tab-button" (click)="addTab(selectAfterAdding.checked)">
                        <i class="fa fa-plus align-items-center" style="color: darkgray;"></i>
                      </button> -->
                    </ng-template>
                </mat-tab>
                <!-- <mat-checkbox  #selectAfterAdding ></mat-checkbox> -->

                
            </mat-tab-group>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<html>