.border-secondary {
    margin: 70px 250px 0px 250px; 
    float: center;
  }
  
.selectable{
  height: 39px;
}

#table-input{
  height: 39px;
}

  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .table {
    cursor: text;
    background-color: white;
    align-items:center;
    padding: 5px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    empty-cells: show;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } 
  
  /* Firefox */
   input[type=number] {
    -moz-appearance: textfield;
  } 
  
  .table:hover{
     cursor: cell;
  }
  
  .table-heading, h5 {
    padding-left: 20px;
    margin-top: 10px;
    color: darkslategrey;
  }
  
  .table h5 {
    font-size: 15px;
    line-height: 1.5;
  }
  
  th,
  td {
    padding: 15px;
    text-align: center;
  }
  
  .btn-container {
    display: flex;
    left: 19%; position: relative;
    margin-right: -600px;
    padding-top: 25px;
  }

  .inner-circle{
    margin-top:-1px;
  }
  
  .toggle-btn {
    left: 11%; position: sticky;
    width: 40px;
    height: 20px;
    background: white;
    border-radius: 30px;
    padding-top: 1px;
    border: 2px solid #20c997;
    cursor: pointer;
    margin-top: 5%;
  }
  
  .toggle-btn > .inner-circle {
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
  }
  
  .toggle-btn.active {
    background: #20c997;
  }
  
  .toggle-btn.active > .inner-circle {
    margin-left: 21px;
    background: white;
  }
  
  .toggle-text {
    position: relative;
    padding-left: 10px;
    display: flex;
    width: fit-content;
    margin-top: 5%;
  }
  
  .input-container {
     /* IE10 */
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-bottom: -150px;
  }

  .input-field{
    height: 39px;
  }

  .input-group{
    margin-right: 30px;
  }

  .icon {
    border-radius: 5px 0px 0px 5px;
    height: 39px;
    padding: 12px;
    background: lightgray;
    color: black;
    min-width: 50px;
    text-align: center;
    
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }