<!DOCTYPE html>
<html lang="eng">
  <head> </head>

  <body id="side-menu-body">
    <div class="calculator-social-buttons d-flex flex-md-column justify-content-md-between">
      <button type="button" class="border-0 bg-transparent btn-circle p-0 p-md-2 btn btn-secondary">
        <span class="fa-stack fa-2x"><i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
        </span>
      </button>

      <button type="button" class="border-0 bg-transparent btn-circle p-0 p-md-2 btn btn-secondary" >
        <span class="fa-stack fa-2x" >
            <i class="fa fa-circle fa-stack-2x text-primary" ></i>
            <i class="fa fa-file-excel-o fa-stack-1x fa-inverse" ></i>
        </span>
      </button>
      
      <button type="button" class="border-0 bg-transparent btn-circle p-0 p-md-2 btn btn-secondary">
        <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
        </span>
      </button>
      
      <a type="button" target="_blank" rel="noopener noreferrer" href="https://ledgy.com/calculator/"
        class="d-none d-sm-block border-0 bg-transparent btn-circle p-0 p-md-2 btn btn-secondary">
          <span class="fa-stack fa-2x"> 
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-question fa-stack-1x fa-inverse"></i>
          </span>
      </a>
    </div>
  </body>
</html>
